<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10007_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{88,32}}</string>
        <key>offset</key>
        <string>{56,-34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,32}}</string>
        <key>sourceSize</key>
        <string>{88,32}</string>
      </dict>
      <key>sfx_10007_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,170},{79,31}}</string>
        <key>offset</key>
        <string>{63,-34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,31}}</string>
        <key>sourceSize</key>
        <string>{79,31}</string>
      </dict>
      <key>sfx_10007_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,170},{77,32}}</string>
        <key>offset</key>
        <string>{64,-33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,32}}</string>
        <key>sourceSize</key>
        <string>{77,32}</string>
      </dict>
      <key>sfx_10007_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,170},{81,39}}</string>
        <key>offset</key>
        <string>{62,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,39}}</string>
        <key>sourceSize</key>
        <string>{81,39}</string>
      </dict>
      <key>sfx_10007_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,90},{87,42}}</string>
        <key>offset</key>
        <string>{61,-28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,42}}</string>
        <key>sourceSize</key>
        <string>{87,42}</string>
      </dict>
      <key>sfx_10007_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,43},{89,43}}</string>
        <key>offset</key>
        <string>{63,-27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,43}}</string>
        <key>sourceSize</key>
        <string>{89,43}</string>
      </dict>
      <key>sfx_10007_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{91,41}}</string>
        <key>offset</key>
        <string>{64,-26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,41}}</string>
        <key>sourceSize</key>
        <string>{91,41}</string>
      </dict>
      <key>sfx_10007_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,93},{90,41}}</string>
        <key>offset</key>
        <string>{64,-25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,41}}</string>
        <key>sourceSize</key>
        <string>{90,41}</string>
      </dict>
      <key>sfx_10007_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,88},{88,41}}</string>
        <key>offset</key>
        <string>{64,-26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,41}}</string>
        <key>sourceSize</key>
        <string>{88,41}</string>
      </dict>
      <key>sfx_10007_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,201},{92,41}}</string>
        <key>offset</key>
        <string>{58,-28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,41}}</string>
        <key>sourceSize</key>
        <string>{92,41}</string>
      </dict>
      <key>sfx_10007_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,42}}</string>
        <key>offset</key>
        <string>{47,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,42}}</string>
        <key>sourceSize</key>
        <string>{101,42}</string>
      </dict>
      <key>sfx_10007_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,103},{96,42}}</string>
        <key>offset</key>
        <string>{45,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,42}}</string>
        <key>sourceSize</key>
        <string>{96,42}</string>
      </dict>
      <key>sfx_10007_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,0},{91,40}}</string>
        <key>offset</key>
        <string>{46,-26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,40}}</string>
        <key>sourceSize</key>
        <string>{91,40}</string>
      </dict>
      <key>sfx_10007_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,134},{87,34}}</string>
        <key>offset</key>
        <string>{49,-30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,34}}</string>
        <key>sourceSize</key>
        <string>{87,34}</string>
      </dict>
      <key>sfx_10007_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{88,32}}</string>
        <key>offset</key>
        <string>{48,-31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,32}}</string>
        <key>sourceSize</key>
        <string>{88,32}</string>
      </dict>
      <key>sfx_10007_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,88},{89,31}}</string>
        <key>offset</key>
        <string>{52,-32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,31}}</string>
        <key>sourceSize</key>
        <string>{89,31}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10007_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_10007_0.png</string>
    </dict>
  </dict>
</plist>