<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_16002_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{96,375}}</string>
        <key>offset</key>
        <string>{-20,320}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,375}}</string>
        <key>sourceSize</key>
        <string>{96,375}</string>
      </dict>
      <key>sfx_16002_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,392},{96,388}}</string>
        <key>offset</key>
        <string>{-20,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,388}}</string>
        <key>sourceSize</key>
        <string>{96,388}</string>
      </dict>
      <key>sfx_16002_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,416},{95,394}}</string>
        <key>offset</key>
        <string>{-20,339}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,394}}</string>
        <key>sourceSize</key>
        <string>{95,394}</string>
      </dict>
      <key>sfx_16002_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,416},{92,412}}</string>
        <key>offset</key>
        <string>{-18,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,412}}</string>
        <key>sourceSize</key>
        <string>{92,412}</string>
      </dict>
      <key>sfx_16002_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,0},{93,423}}</string>
        <key>offset</key>
        <string>{-18,368}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,423}}</string>
        <key>sourceSize</key>
        <string>{93,423}</string>
      </dict>
      <key>sfx_16002_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,436},{88,432}}</string>
        <key>offset</key>
        <string>{-15,378}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,432}}</string>
        <key>sourceSize</key>
        <string>{88,432}</string>
      </dict>
      <key>sfx_16002_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,923},{88,445}}</string>
        <key>offset</key>
        <string>{-14,390}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,445}}</string>
        <key>sourceSize</key>
        <string>{88,445}</string>
      </dict>
      <key>sfx_16002_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,465},{86,456}}</string>
        <key>offset</key>
        <string>{-12,401}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,456}}</string>
        <key>sourceSize</key>
        <string>{86,456}</string>
      </dict>
      <key>sfx_16002_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{85,463}}</string>
        <key>offset</key>
        <string>{-12,408}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,463}}</string>
        <key>sourceSize</key>
        <string>{85,463}</string>
      </dict>
      <key>sfx_16002_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{86,451}}</string>
        <key>offset</key>
        <string>{-13,396}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,451}}</string>
        <key>sourceSize</key>
        <string>{86,451}</string>
      </dict>
      <key>sfx_16002_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,453},{89,445}}</string>
        <key>offset</key>
        <string>{-15,390}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,445}}</string>
        <key>sourceSize</key>
        <string>{89,445}</string>
      </dict>
      <key>sfx_16002_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{92,434}}</string>
        <key>offset</key>
        <string>{-18,379}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,434}}</string>
        <key>sourceSize</key>
        <string>{92,434}</string>
      </dict>
      <key>sfx_16002_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,436},{95,427}}</string>
        <key>offset</key>
        <string>{-20,373}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,427}}</string>
        <key>sourceSize</key>
        <string>{95,427}</string>
      </dict>
      <key>sfx_16002_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{95,414}}</string>
        <key>offset</key>
        <string>{-21,360}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,414}}</string>
        <key>sourceSize</key>
        <string>{95,414}</string>
      </dict>
      <key>sfx_16002_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,830},{99,403}}</string>
        <key>offset</key>
        <string>{-22,348}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,403}}</string>
        <key>sourceSize</key>
        <string>{99,403}</string>
      </dict>
      <key>sfx_16002_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,0},{97,390}}</string>
        <key>offset</key>
        <string>{-21,335}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,390}}</string>
        <key>sourceSize</key>
        <string>{97,390}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_16002_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_16002_0.png</string>
    </dict>
  </dict>
</plist>