<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10033_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{82,28}}</string>
        <key>offset</key>
        <string>{59,-36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,28}}</string>
        <key>sourceSize</key>
        <string>{82,28}</string>
      </dict>
      <key>sfx_10033_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,215},{77,27}}</string>
        <key>offset</key>
        <string>{64,-36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,27}}</string>
        <key>sourceSize</key>
        <string>{77,27}</string>
      </dict>
      <key>sfx_10033_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,84},{76,31}}</string>
        <key>offset</key>
        <string>{65,-34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,31}}</string>
        <key>sourceSize</key>
        <string>{76,31}</string>
      </dict>
      <key>sfx_10033_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,215},{77,38}}</string>
        <key>offset</key>
        <string>{64,-28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,38}}</string>
        <key>sourceSize</key>
        <string>{77,38}</string>
      </dict>
      <key>sfx_10033_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{76,38}}</string>
        <key>offset</key>
        <string>{64,-30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,38}}</string>
        <key>sourceSize</key>
        <string>{76,38}</string>
      </dict>
      <key>sfx_10033_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,0},{83,40}}</string>
        <key>offset</key>
        <string>{65,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,40}}</string>
        <key>sourceSize</key>
        <string>{83,40}</string>
      </dict>
      <key>sfx_10033_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{91,38}}</string>
        <key>offset</key>
        <string>{64,-28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,38}}</string>
        <key>sourceSize</key>
        <string>{91,38}</string>
      </dict>
      <key>sfx_10033_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,97},{90,38}}</string>
        <key>offset</key>
        <string>{65,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,38}}</string>
        <key>sourceSize</key>
        <string>{90,38}</string>
      </dict>
      <key>sfx_10033_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,178},{86,35}}</string>
        <key>offset</key>
        <string>{63,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,35}}</string>
        <key>sourceSize</key>
        <string>{86,35}</string>
      </dict>
      <key>sfx_10033_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{94,36}}</string>
        <key>offset</key>
        <string>{55,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,36}}</string>
        <key>sourceSize</key>
        <string>{94,36}</string>
      </dict>
      <key>sfx_10033_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,38}}</string>
        <key>offset</key>
        <string>{51,-30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,38}}</string>
        <key>sourceSize</key>
        <string>{95,38}</string>
      </dict>
      <key>sfx_10033_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{87,39}}</string>
        <key>offset</key>
        <string>{50,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,39}}</string>
        <key>sourceSize</key>
        <string>{87,39}</string>
      </dict>
      <key>sfx_10033_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,89},{87,34}}</string>
        <key>offset</key>
        <string>{49,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,34}}</string>
        <key>sourceSize</key>
        <string>{87,34}</string>
      </dict>
      <key>sfx_10033_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,0},{90,36}}</string>
        <key>offset</key>
        <string>{46,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,36}}</string>
        <key>sourceSize</key>
        <string>{90,36}</string>
      </dict>
      <key>sfx_10033_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,89},{86,31}}</string>
        <key>offset</key>
        <string>{50,-31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,31}}</string>
        <key>sourceSize</key>
        <string>{86,31}</string>
      </dict>
      <key>sfx_10033_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,85},{83,31}}</string>
        <key>offset</key>
        <string>{59,-32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,31}}</string>
        <key>sourceSize</key>
        <string>{83,31}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10033_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_10033_0.png</string>
    </dict>
  </dict>
</plist>