<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10015_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,79},{82,27}}</string>
        <key>offset</key>
        <string>{59,-36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,27}}</string>
        <key>sourceSize</key>
        <string>{82,27}</string>
      </dict>
      <key>sfx_10015_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{77,30}}</string>
        <key>offset</key>
        <string>{65,-35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,30}}</string>
        <key>sourceSize</key>
        <string>{77,30}</string>
      </dict>
      <key>sfx_10015_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{76,31}}</string>
        <key>offset</key>
        <string>{64,-34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,31}}</string>
        <key>sourceSize</key>
        <string>{76,31}</string>
      </dict>
      <key>sfx_10015_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,90},{78,41}}</string>
        <key>offset</key>
        <string>{62,-28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,41}}</string>
        <key>sourceSize</key>
        <string>{78,41}</string>
      </dict>
      <key>sfx_10015_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,163},{81,40}}</string>
        <key>offset</key>
        <string>{64,-30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,40}}</string>
        <key>sourceSize</key>
        <string>{81,40}</string>
      </dict>
      <key>sfx_10015_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,90},{87,42}}</string>
        <key>offset</key>
        <string>{64,-26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,42}}</string>
        <key>sourceSize</key>
        <string>{87,42}</string>
      </dict>
      <key>sfx_10015_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{93,40}}</string>
        <key>offset</key>
        <string>{64,-26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,40}}</string>
        <key>sourceSize</key>
        <string>{93,40}</string>
      </dict>
      <key>sfx_10015_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,0},{92,40}}</string>
        <key>offset</key>
        <string>{64,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,40}}</string>
        <key>sourceSize</key>
        <string>{92,40}</string>
      </dict>
      <key>sfx_10015_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{93,41}}</string>
        <key>offset</key>
        <string>{59,-26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,41}}</string>
        <key>sourceSize</key>
        <string>{93,41}</string>
      </dict>
      <key>sfx_10015_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,94},{92,40}}</string>
        <key>offset</key>
        <string>{55,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,40}}</string>
        <key>sourceSize</key>
        <string>{92,40}</string>
      </dict>
      <key>sfx_10015_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,37}}</string>
        <key>offset</key>
        <string>{49,-30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,37}}</string>
        <key>sourceSize</key>
        <string>{101,37}</string>
      </dict>
      <key>sfx_10015_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,103},{99,37}}</string>
        <key>offset</key>
        <string>{47,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,37}}</string>
        <key>sourceSize</key>
        <string>{99,37}</string>
      </dict>
      <key>sfx_10015_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,43},{89,34}}</string>
        <key>offset</key>
        <string>{48,-30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,34}}</string>
        <key>sourceSize</key>
        <string>{89,34}</string>
      </dict>
      <key>sfx_10015_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{88,37}}</string>
        <key>offset</key>
        <string>{48,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,37}}</string>
        <key>sourceSize</key>
        <string>{88,37}</string>
      </dict>
      <key>sfx_10015_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,187},{88,36}}</string>
        <key>offset</key>
        <string>{49,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,36}}</string>
        <key>sourceSize</key>
        <string>{88,36}</string>
      </dict>
      <key>sfx_10015_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,94},{91,34}}</string>
        <key>offset</key>
        <string>{51,-31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,34}}</string>
        <key>sourceSize</key>
        <string>{91,34}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10015_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_10015_0.png</string>
    </dict>
  </dict>
</plist>