<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_16006_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{73,323}}</string>
        <key>offset</key>
        <string>{-13,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,323}}</string>
        <key>sourceSize</key>
        <string>{73,323}</string>
      </dict>
      <key>sfx_16006_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,76},{74,326}}</string>
        <key>offset</key>
        <string>{-14,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,326}}</string>
        <key>sourceSize</key>
        <string>{74,326}</string>
      </dict>
      <key>sfx_16006_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{74,327}}</string>
        <key>offset</key>
        <string>{-14,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,327}}</string>
        <key>sourceSize</key>
        <string>{74,327}</string>
      </dict>
      <key>sfx_16006_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,329},{73,318}}</string>
        <key>offset</key>
        <string>{-13,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,318}}</string>
        <key>sourceSize</key>
        <string>{73,318}</string>
      </dict>
      <key>sfx_16006_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,453},{74,317}}</string>
        <key>offset</key>
        <string>{-14,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,317}}</string>
        <key>sourceSize</key>
        <string>{74,317}</string>
      </dict>
      <key>sfx_16006_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,605},{73,316}}</string>
        <key>offset</key>
        <string>{-13,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,316}}</string>
        <key>sourceSize</key>
        <string>{73,316}</string>
      </dict>
      <key>sfx_16006_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,680},{73,315}}</string>
        <key>offset</key>
        <string>{-13,268}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,315}}</string>
        <key>sourceSize</key>
        <string>{73,315}</string>
      </dict>
      <key>sfx_16006_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{73,319}}</string>
        <key>offset</key>
        <string>{-13,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,319}}</string>
        <key>sourceSize</key>
        <string>{73,319}</string>
      </dict>
      <key>sfx_16006_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,303},{73,323}}</string>
        <key>offset</key>
        <string>{-13,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,323}}</string>
        <key>sourceSize</key>
        <string>{73,323}</string>
      </dict>
      <key>sfx_16006_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,152},{74,326}}</string>
        <key>offset</key>
        <string>{-14,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,326}}</string>
        <key>sourceSize</key>
        <string>{74,326}</string>
      </dict>
      <key>sfx_16006_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,0},{74,327}}</string>
        <key>offset</key>
        <string>{-14,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,327}}</string>
        <key>sourceSize</key>
        <string>{74,327}</string>
      </dict>
      <key>sfx_16006_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,378},{73,318}}</string>
        <key>offset</key>
        <string>{-13,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,318}}</string>
        <key>sourceSize</key>
        <string>{73,318}</string>
      </dict>
      <key>sfx_16006_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,529},{74,317}}</string>
        <key>offset</key>
        <string>{-14,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,317}}</string>
        <key>sourceSize</key>
        <string>{74,317}</string>
      </dict>
      <key>sfx_16006_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,680},{73,316}}</string>
        <key>offset</key>
        <string>{-13,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,316}}</string>
        <key>sourceSize</key>
        <string>{73,316}</string>
      </dict>
      <key>sfx_16006_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,680},{73,315}}</string>
        <key>offset</key>
        <string>{-13,268}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,315}}</string>
        <key>sourceSize</key>
        <string>{73,315}</string>
      </dict>
      <key>sfx_16006_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,321},{73,319}}</string>
        <key>offset</key>
        <string>{-13,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,319}}</string>
        <key>sourceSize</key>
        <string>{73,319}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_16006_0.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>sfx_16006_0.png</string>
    </dict>
  </dict>
</plist>