<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10005_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,125},{86,29}}</string>
        <key>offset</key>
        <string>{56,-36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,29}}</string>
        <key>sourceSize</key>
        <string>{86,29}</string>
      </dict>
      <key>sfx_10005_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,156},{78,32}}</string>
        <key>offset</key>
        <string>{62,-33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,32}}</string>
        <key>sourceSize</key>
        <string>{78,32}</string>
      </dict>
      <key>sfx_10005_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,0},{76,32}}</string>
        <key>offset</key>
        <string>{64,-33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,32}}</string>
        <key>sourceSize</key>
        <string>{76,32}</string>
      </dict>
      <key>sfx_10005_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,42},{81,41}}</string>
        <key>offset</key>
        <string>{62,-27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,41}}</string>
        <key>sourceSize</key>
        <string>{81,41}</string>
      </dict>
      <key>sfx_10005_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{84,40}}</string>
        <key>offset</key>
        <string>{63,-30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,40}}</string>
        <key>sourceSize</key>
        <string>{84,40}</string>
      </dict>
      <key>sfx_10005_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,191},{90,42}}</string>
        <key>offset</key>
        <string>{62,-28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,42}}</string>
        <key>sourceSize</key>
        <string>{90,42}</string>
      </dict>
      <key>sfx_10005_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,206},{95,42}}</string>
        <key>offset</key>
        <string>{61,-26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,42}}</string>
        <key>sourceSize</key>
        <string>{95,42}</string>
      </dict>
      <key>sfx_10005_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,105},{95,41}}</string>
        <key>offset</key>
        <string>{62,-26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,41}}</string>
        <key>sourceSize</key>
        <string>{95,41}</string>
      </dict>
      <key>sfx_10005_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,97},{92,39}}</string>
        <key>offset</key>
        <string>{60,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,39}}</string>
        <key>sourceSize</key>
        <string>{92,39}</string>
      </dict>
      <key>sfx_10005_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,0},{95,43}}</string>
        <key>offset</key>
        <string>{56,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,43}}</string>
        <key>sourceSize</key>
        <string>{95,43}</string>
      </dict>
      <key>sfx_10005_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{103,44}}</string>
        <key>offset</key>
        <string>{49,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,44}}</string>
        <key>sourceSize</key>
        <string>{103,44}</string>
      </dict>
      <key>sfx_10005_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,105},{99,40}}</string>
        <key>offset</key>
        <string>{46,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,40}}</string>
        <key>sourceSize</key>
        <string>{99,40}</string>
      </dict>
      <key>sfx_10005_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,0},{92,37}}</string>
        <key>offset</key>
        <string>{45,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,37}}</string>
        <key>sourceSize</key>
        <string>{92,37}</string>
      </dict>
      <key>sfx_10005_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,94},{89,38}}</string>
        <key>offset</key>
        <string>{47,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,38}}</string>
        <key>sourceSize</key>
        <string>{89,38}</string>
      </dict>
      <key>sfx_10005_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{89,37}}</string>
        <key>offset</key>
        <string>{48,-30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,37}}</string>
        <key>sourceSize</key>
        <string>{89,37}</string>
      </dict>
      <key>sfx_10005_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,91},{88,32}}</string>
        <key>offset</key>
        <string>{53,-33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,32}}</string>
        <key>sourceSize</key>
        <string>{88,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10005_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_10005_0.png</string>
    </dict>
  </dict>
</plist>