<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10002_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,91},{86,30}}</string>
        <key>offset</key>
        <string>{55,-34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,30}}</string>
        <key>sourceSize</key>
        <string>{86,30}</string>
      </dict>
      <key>sfx_10002_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,179},{75,27}}</string>
        <key>offset</key>
        <string>{65,-36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,27}}</string>
        <key>sourceSize</key>
        <string>{75,27}</string>
      </dict>
      <key>sfx_10002_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,155},{76,31}}</string>
        <key>offset</key>
        <string>{65,-34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,31}}</string>
        <key>sourceSize</key>
        <string>{76,31}</string>
      </dict>
      <key>sfx_10002_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,155},{77,37}}</string>
        <key>offset</key>
        <string>{63,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,37}}</string>
        <key>sourceSize</key>
        <string>{77,37}</string>
      </dict>
      <key>sfx_10002_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,114},{83,39}}</string>
        <key>offset</key>
        <string>{63,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,39}}</string>
        <key>sourceSize</key>
        <string>{83,39}</string>
      </dict>
      <key>sfx_10002_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,92},{89,39}}</string>
        <key>offset</key>
        <string>{62,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,39}}</string>
        <key>sourceSize</key>
        <string>{89,39}</string>
      </dict>
      <key>sfx_10002_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,101},{93,39}}</string>
        <key>offset</key>
        <string>{63,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,39}}</string>
        <key>sourceSize</key>
        <string>{93,39}</string>
      </dict>
      <key>sfx_10002_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,201},{94,42}}</string>
        <key>offset</key>
        <string>{63,-26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,42}}</string>
        <key>sourceSize</key>
        <string>{94,42}</string>
      </dict>
      <key>sfx_10002_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{89,37}}</string>
        <key>offset</key>
        <string>{62,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,37}}</string>
        <key>sourceSize</key>
        <string>{89,37}</string>
      </dict>
      <key>sfx_10002_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,38},{87,37}}</string>
        <key>offset</key>
        <string>{59,-30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,37}}</string>
        <key>sourceSize</key>
        <string>{87,37}</string>
      </dict>
      <key>sfx_10002_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,101},{98,34}}</string>
        <key>offset</key>
        <string>{51,-33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,34}}</string>
        <key>sourceSize</key>
        <string>{98,34}</string>
      </dict>
      <key>sfx_10002_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{99,37}}</string>
        <key>offset</key>
        <string>{47,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,37}}</string>
        <key>sourceSize</key>
        <string>{99,37}</string>
      </dict>
      <key>sfx_10002_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{90,34}}</string>
        <key>offset</key>
        <string>{46,-30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,34}}</string>
        <key>sourceSize</key>
        <string>{90,34}</string>
      </dict>
      <key>sfx_10002_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,77},{87,35}}</string>
        <key>offset</key>
        <string>{49,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,35}}</string>
        <key>sourceSize</key>
        <string>{87,35}</string>
      </dict>
      <key>sfx_10002_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{88,36}}</string>
        <key>offset</key>
        <string>{48,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,36}}</string>
        <key>sourceSize</key>
        <string>{88,36}</string>
      </dict>
      <key>sfx_10002_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,0},{91,34}}</string>
        <key>offset</key>
        <string>{50,-32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,34}}</string>
        <key>sourceSize</key>
        <string>{91,34}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10002_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_10002_0.png</string>
    </dict>
  </dict>
</plist>