<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10016_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,125},{77,28}}</string>
        <key>offset</key>
        <string>{64,-36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,28}}</string>
        <key>sourceSize</key>
        <string>{77,28}</string>
      </dict>
      <key>sfx_10016_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,193},{74,27}}</string>
        <key>offset</key>
        <string>{66,-36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,27}}</string>
        <key>sourceSize</key>
        <string>{74,27}</string>
      </dict>
      <key>sfx_10016_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,222},{72,30}}</string>
        <key>offset</key>
        <string>{66,-35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,30}}</string>
        <key>sourceSize</key>
        <string>{72,30}</string>
      </dict>
      <key>sfx_10016_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,155},{77,36}}</string>
        <key>offset</key>
        <string>{65,-28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,36}}</string>
        <key>sourceSize</key>
        <string>{77,36}</string>
      </dict>
      <key>sfx_10016_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,171},{80,38}}</string>
        <key>offset</key>
        <string>{65,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,38}}</string>
        <key>sourceSize</key>
        <string>{80,38}</string>
      </dict>
      <key>sfx_10016_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,43},{86,38}}</string>
        <key>offset</key>
        <string>{64,-28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,38}}</string>
        <key>sourceSize</key>
        <string>{86,38}</string>
      </dict>
      <key>sfx_10016_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{91,41}}</string>
        <key>offset</key>
        <string>{64,-25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,41}}</string>
        <key>sourceSize</key>
        <string>{91,41}</string>
      </dict>
      <key>sfx_10016_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,0},{91,42}}</string>
        <key>offset</key>
        <string>{64,-25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,42}}</string>
        <key>sourceSize</key>
        <string>{91,42}</string>
      </dict>
      <key>sfx_10016_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,93},{91,41}}</string>
        <key>offset</key>
        <string>{62,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,41}}</string>
        <key>sourceSize</key>
        <string>{91,41}</string>
      </dict>
      <key>sfx_10016_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{97,41}}</string>
        <key>offset</key>
        <string>{55,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,41}}</string>
        <key>sourceSize</key>
        <string>{97,41}</string>
      </dict>
      <key>sfx_10016_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,99},{96,41}}</string>
        <key>offset</key>
        <string>{52,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,41}}</string>
        <key>sourceSize</key>
        <string>{96,41}</string>
      </dict>
      <key>sfx_10016_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,197},{92,42}}</string>
        <key>offset</key>
        <string>{50,-27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,42}}</string>
        <key>sourceSize</key>
        <string>{92,42}</string>
      </dict>
      <key>sfx_10016_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{86,40}}</string>
        <key>offset</key>
        <string>{50,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,40}}</string>
        <key>sourceSize</key>
        <string>{86,40}</string>
      </dict>
      <key>sfx_10016_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,88},{85,35}}</string>
        <key>offset</key>
        <string>{50,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,35}}</string>
        <key>sourceSize</key>
        <string>{85,35}</string>
      </dict>
      <key>sfx_10016_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,83},{86,34}}</string>
        <key>offset</key>
        <string>{49,-31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,34}}</string>
        <key>sourceSize</key>
        <string>{86,34}</string>
      </dict>
      <key>sfx_10016_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,93},{90,33}}</string>
        <key>offset</key>
        <string>{51,-31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,33}}</string>
        <key>sourceSize</key>
        <string>{90,33}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10016_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_10016_0.png</string>
    </dict>
  </dict>
</plist>