<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10020_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,82},{85,28}}</string>
        <key>offset</key>
        <string>{56,-36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,28}}</string>
        <key>sourceSize</key>
        <string>{85,28}</string>
      </dict>
      <key>sfx_10020_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{79,28}}</string>
        <key>offset</key>
        <string>{61,-35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,28}}</string>
        <key>sourceSize</key>
        <string>{79,28}</string>
      </dict>
      <key>sfx_10020_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,169},{72,30}}</string>
        <key>offset</key>
        <string>{65,-35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,30}}</string>
        <key>sourceSize</key>
        <string>{72,30}</string>
      </dict>
      <key>sfx_10020_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,169},{73,38}}</string>
        <key>offset</key>
        <string>{64,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,38}}</string>
        <key>sourceSize</key>
        <string>{73,38}</string>
      </dict>
      <key>sfx_10020_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,119},{75,40}}</string>
        <key>offset</key>
        <string>{63,-30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,40}}</string>
        <key>sourceSize</key>
        <string>{75,40}</string>
      </dict>
      <key>sfx_10020_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,169},{79,41}}</string>
        <key>offset</key>
        <string>{63,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,41}}</string>
        <key>sourceSize</key>
        <string>{79,41}</string>
      </dict>
      <key>sfx_10020_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,0},{89,41}}</string>
        <key>offset</key>
        <string>{64,-26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,41}}</string>
        <key>sourceSize</key>
        <string>{89,41}</string>
      </dict>
      <key>sfx_10020_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{86,40}}</string>
        <key>offset</key>
        <string>{66,-26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,40}}</string>
        <key>sourceSize</key>
        <string>{86,40}</string>
      </dict>
      <key>sfx_10020_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,0},{88,43}}</string>
        <key>offset</key>
        <string>{62,-26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,43}}</string>
        <key>sourceSize</key>
        <string>{88,43}</string>
      </dict>
      <key>sfx_10020_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{93,44}}</string>
        <key>offset</key>
        <string>{57,-27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,44}}</string>
        <key>sourceSize</key>
        <string>{93,44}</string>
      </dict>
      <key>sfx_10020_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{97,46}}</string>
        <key>offset</key>
        <string>{53,-26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,46}}</string>
        <key>sourceSize</key>
        <string>{97,46}</string>
      </dict>
      <key>sfx_10020_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,99},{97,44}}</string>
        <key>offset</key>
        <string>{47,-25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,44}}</string>
        <key>sourceSize</key>
        <string>{97,44}</string>
      </dict>
      <key>sfx_10020_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,91},{89,42}}</string>
        <key>offset</key>
        <string>{47,-25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,42}}</string>
        <key>sourceSize</key>
        <string>{89,42}</string>
      </dict>
      <key>sfx_10020_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,42},{86,38}}</string>
        <key>offset</key>
        <string>{50,-28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,38}}</string>
        <key>sourceSize</key>
        <string>{86,38}</string>
      </dict>
      <key>sfx_10020_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,82},{86,35}}</string>
        <key>offset</key>
        <string>{49,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,35}}</string>
        <key>sourceSize</key>
        <string>{86,35}</string>
      </dict>
      <key>sfx_10020_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,99},{90,34}}</string>
        <key>offset</key>
        <string>{51,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,34}}</string>
        <key>sourceSize</key>
        <string>{90,34}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10020_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_10020_0.png</string>
    </dict>
  </dict>
</plist>