<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10010_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,69},{75,27}}</string>
        <key>offset</key>
        <string>{66,-36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,27}}</string>
        <key>sourceSize</key>
        <string>{75,27}</string>
      </dict>
      <key>sfx_10010_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,98},{74,27}}</string>
        <key>offset</key>
        <string>{66,-36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,27}}</string>
        <key>sourceSize</key>
        <string>{74,27}</string>
      </dict>
      <key>sfx_10010_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,216},{76,34}}</string>
        <key>offset</key>
        <string>{65,-33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,34}}</string>
        <key>sourceSize</key>
        <string>{76,34}</string>
      </dict>
      <key>sfx_10010_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,98},{75,37}}</string>
        <key>offset</key>
        <string>{65,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,37}}</string>
        <key>sourceSize</key>
        <string>{75,37}</string>
      </dict>
      <key>sfx_10010_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,216},{77,38}}</string>
        <key>offset</key>
        <string>{65,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,38}}</string>
        <key>sourceSize</key>
        <string>{77,38}</string>
      </dict>
      <key>sfx_10010_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{82,38}}</string>
        <key>offset</key>
        <string>{64,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,38}}</string>
        <key>sourceSize</key>
        <string>{82,38}</string>
      </dict>
      <key>sfx_10010_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{88,34}}</string>
        <key>offset</key>
        <string>{64,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,34}}</string>
        <key>sourceSize</key>
        <string>{88,34}</string>
      </dict>
      <key>sfx_10010_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,97},{88,37}}</string>
        <key>offset</key>
        <string>{65,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,37}}</string>
        <key>sourceSize</key>
        <string>{88,37}</string>
      </dict>
      <key>sfx_10010_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,0},{86,38}}</string>
        <key>offset</key>
        <string>{65,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,38}}</string>
        <key>sourceSize</key>
        <string>{86,38}</string>
      </dict>
      <key>sfx_10010_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,176},{82,38}}</string>
        <key>offset</key>
        <string>{65,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,38}}</string>
        <key>sourceSize</key>
        <string>{82,38}</string>
      </dict>
      <key>sfx_10010_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,38}}</string>
        <key>offset</key>
        <string>{52,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,38}}</string>
        <key>sourceSize</key>
        <string>{95,38}</string>
      </dict>
      <key>sfx_10010_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{93,36}}</string>
        <key>offset</key>
        <string>{48,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,36}}</string>
        <key>sourceSize</key>
        <string>{93,36}</string>
      </dict>
      <key>sfx_10010_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,88},{86,33}}</string>
        <key>offset</key>
        <string>{49,-30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,33}}</string>
        <key>sourceSize</key>
        <string>{86,33}</string>
      </dict>
      <key>sfx_10010_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{78,34}}</string>
        <key>offset</key>
        <string>{58,-30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,34}}</string>
        <key>sourceSize</key>
        <string>{78,34}</string>
      </dict>
      <key>sfx_10010_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,98},{71,30}}</string>
        <key>offset</key>
        <string>{65,-31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,30}}</string>
        <key>sourceSize</key>
        <string>{71,30}</string>
      </dict>
      <key>sfx_10010_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,36},{76,31}}</string>
        <key>offset</key>
        <string>{65,-32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,31}}</string>
        <key>sourceSize</key>
        <string>{76,31}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10010_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_10010_0.png</string>
    </dict>
  </dict>
</plist>