<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10029_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,225},{88,29}}</string>
        <key>offset</key>
        <string>{53,-36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,29}}</string>
        <key>sourceSize</key>
        <string>{88,29}</string>
      </dict>
      <key>sfx_10029_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,44},{82,30}}</string>
        <key>offset</key>
        <string>{60,-35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,30}}</string>
        <key>sourceSize</key>
        <string>{82,30}</string>
      </dict>
      <key>sfx_10029_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,129},{77,33}}</string>
        <key>offset</key>
        <string>{64,-34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,33}}</string>
        <key>sourceSize</key>
        <string>{77,33}</string>
      </dict>
      <key>sfx_10029_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,164},{76,39}}</string>
        <key>offset</key>
        <string>{64,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,39}}</string>
        <key>sourceSize</key>
        <string>{76,39}</string>
      </dict>
      <key>sfx_10029_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{83,42}}</string>
        <key>offset</key>
        <string>{63,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,42}}</string>
        <key>sourceSize</key>
        <string>{83,42}</string>
      </dict>
      <key>sfx_10029_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{88,43}}</string>
        <key>offset</key>
        <string>{62,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,43}}</string>
        <key>sourceSize</key>
        <string>{88,43}</string>
      </dict>
      <key>sfx_10029_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,0},{90,38}}</string>
        <key>offset</key>
        <string>{63,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,38}}</string>
        <key>sourceSize</key>
        <string>{90,38}</string>
      </dict>
      <key>sfx_10029_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,94},{91,40}}</string>
        <key>offset</key>
        <string>{62,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,40}}</string>
        <key>sourceSize</key>
        <string>{91,40}</string>
      </dict>
      <key>sfx_10029_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{94,39}}</string>
        <key>offset</key>
        <string>{58,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,39}}</string>
        <key>sourceSize</key>
        <string>{94,39}</string>
      </dict>
      <key>sfx_10029_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,0},{92,37}}</string>
        <key>offset</key>
        <string>{56,-31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,37}}</string>
        <key>sourceSize</key>
        <string>{92,37}</string>
      </dict>
      <key>sfx_10029_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,41}}</string>
        <key>offset</key>
        <string>{48,-30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,41}}</string>
        <key>sourceSize</key>
        <string>{96,41}</string>
      </dict>
      <key>sfx_10029_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{94,42}}</string>
        <key>offset</key>
        <string>{43,-28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,42}}</string>
        <key>sourceSize</key>
        <string>{94,42}</string>
      </dict>
      <key>sfx_10029_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,90},{88,37}}</string>
        <key>offset</key>
        <string>{47,-29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,37}}</string>
        <key>sourceSize</key>
        <string>{88,37}</string>
      </dict>
      <key>sfx_10029_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,92},{89,38}}</string>
        <key>offset</key>
        <string>{46,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,38}}</string>
        <key>sourceSize</key>
        <string>{89,38}</string>
      </dict>
      <key>sfx_10029_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,187},{90,36}}</string>
        <key>offset</key>
        <string>{45,-30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,36}}</string>
        <key>sourceSize</key>
        <string>{90,36}</string>
      </dict>
      <key>sfx_10029_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,98},{93,36}}</string>
        <key>offset</key>
        <string>{48,-31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,36}}</string>
        <key>sourceSize</key>
        <string>{93,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10029_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_10029_0.png</string>
    </dict>
  </dict>
</plist>