<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10018_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,38},{87,28}}</string>
        <key>offset</key>
        <string>{54,-35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,28}}</string>
        <key>sourceSize</key>
        <string>{87,28}</string>
      </dict>
      <key>sfx_10018_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,111},{75,27}}</string>
        <key>offset</key>
        <string>{64,-35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,27}}</string>
        <key>sourceSize</key>
        <string>{75,27}</string>
      </dict>
      <key>sfx_10018_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,111},{74,32}}</string>
        <key>offset</key>
        <string>{64,-33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,32}}</string>
        <key>sourceSize</key>
        <string>{74,32}</string>
      </dict>
      <key>sfx_10018_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,111},{77,38}}</string>
        <key>offset</key>
        <string>{62,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,38}}</string>
        <key>sourceSize</key>
        <string>{77,38}</string>
      </dict>
      <key>sfx_10018_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,190},{76,39}}</string>
        <key>offset</key>
        <string>{63,-30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,39}}</string>
        <key>sourceSize</key>
        <string>{76,39}</string>
      </dict>
      <key>sfx_10018_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,68},{84,41}}</string>
        <key>offset</key>
        <string>{63,-27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,41}}</string>
        <key>sourceSize</key>
        <string>{84,41}</string>
      </dict>
      <key>sfx_10018_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,98},{94,41}}</string>
        <key>offset</key>
        <string>{62,-26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,41}}</string>
        <key>sourceSize</key>
        <string>{94,41}</string>
      </dict>
      <key>sfx_10018_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,0},{96,41}}</string>
        <key>offset</key>
        <string>{61,-26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,41}}</string>
        <key>sourceSize</key>
        <string>{96,41}</string>
      </dict>
      <key>sfx_10018_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{94,41}}</string>
        <key>offset</key>
        <string>{58,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,41}}</string>
        <key>sourceSize</key>
        <string>{94,41}</string>
      </dict>
      <key>sfx_10018_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,192},{90,40}}</string>
        <key>offset</key>
        <string>{56,-27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,40}}</string>
        <key>sourceSize</key>
        <string>{90,40}</string>
      </dict>
      <key>sfx_10018_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{105,41}}</string>
        <key>offset</key>
        <string>{48,-26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,41}}</string>
        <key>sourceSize</key>
        <string>{105,41}</string>
      </dict>
      <key>sfx_10018_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,38}}</string>
        <key>offset</key>
        <string>{44,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,38}}</string>
        <key>sourceSize</key>
        <string>{106,38}</string>
      </dict>
      <key>sfx_10018_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,96},{94,37}}</string>
        <key>offset</key>
        <string>{45,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,37}}</string>
        <key>sourceSize</key>
        <string>{94,37}</string>
      </dict>
      <key>sfx_10018_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,96},{90,37}}</string>
        <key>offset</key>
        <string>{46,-28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,37}}</string>
        <key>sourceSize</key>
        <string>{90,37}</string>
      </dict>
      <key>sfx_10018_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{90,36}}</string>
        <key>offset</key>
        <string>{47,-30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,36}}</string>
        <key>sourceSize</key>
        <string>{90,36}</string>
      </dict>
      <key>sfx_10018_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,215},{95,36}}</string>
        <key>offset</key>
        <string>{47,-31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,36}}</string>
        <key>sourceSize</key>
        <string>{95,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10018_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_10018_0.png</string>
    </dict>
  </dict>
</plist>